a {
  color: black;
}

#slider {
  width: 100%;
  height: 70vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#slider-book {
  width: 80%;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 60px;
}

#slider-book-image {
  width: 30%;
  height: 100%;
}

#slider-book-image img {
  width: 80%;
  height: 100%;
}

#slider-book-show {
  width: 50%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#slider-book-show ul {
  height: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  border-bottom: 1px solid #ccc;
}

#slider-book-show ul li {
  font-family: 'Pretendard-Regular';
  font-size: 0.8vw;
  line-height: 6vh;
}

#slider-book-show h1 {
  font-family: 'Pretendard-Regular';
  font-size: 1.4vw;
  padding-top: 30px;
}

#slider-book-show h1 span {
  font-size: 0.77vw;
  font-weight: normal;
}

#slider-book-show h2 {
  font-family: 'Pretendard-Regular';
  font-size: 0.8vw;
  font-weight: normal;
  padding-top: 20px;
}

#slider-book-show h2 span {
  text-decoration: line-through;
  color: #888;
}

#slider-book-show h3 {
  font-family: 'Pretendard-Regular';
  font-size: 1.3vw;
  color: #a20000;
}

#slider-book-show h4 {
  font-family: 'Pretendard-Regular';
  font-size: 0.9vw;
  font-weight: normal;
  padding-top: 20px;
}

#slider-book-show h5 {
  font-family: 'Pretendard-Regular';
  font-size: 0.9vw;
  font-weight: normal;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#slider-book-show h5 button {
  width: 1.5vw;
  height: 2.7vh;
  background: transparent;
  border: 1px solid #ccc;
  font-family: 'Pretendard-Regular';
  font-size: 0.6vw;
  color: #888;
  cursor: pointer;
}

#slider-book-show h5 button:nth-of-type(1) {
  margin-left: 2%;
}

#slider-book-show h5 input {
  width: 1.5vw;
  height: 2.5vh;
  text-align: center;
  font-family: 'Pretendard-Regular';
  font-size: 0.6vw;
  color: #888;
  border: 1px solid #ccc;
}

#slider-book-show h6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}

#slider-book-show h6 button {
  width: 6.5vw;
  height: 4.4vh;
  cursor: pointer;
  border: 0;
  font-family: 'Pretendard-Regular';
  font-size: 0.8vw;
}

#slider-book-show h6 button:not(:last-child) {
  margin-right: 1%;
}

#slider-book-show h6 button:nth-of-type(1) {
  background-color: #242424;
  color: white;
}

#slider-book-show h6 button:nth-of-type(2) {
  background-color: #ffeb60;
  color: #242424;
}

#slider-book-show h6 button:nth-of-type(3) {
  background-color: #fff;
  border: 1px solid #888;
}

.section {
  width: 100%;
  height: auto;
}

.section-one {
  width: 80%;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.section-one #so1 {
  height: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #888;
}

.section-one #so1 li {
  width: 10vw;
  line-height: 6vh;
  text-align: center;
}

.section-one #so1 li a {
  text-align: center;
  font-family: 'Pretendard-Regular';
  font-size: 0.9vw;
}

.section-one #so1 li.active {
  background-color: #242424;
}

.section-one #so1 li.active a {
  color: #fff;
}

.section-two {
  width: 80%;
  height: auto;
  margin: 0 auto;
}
