@charset "UTF-8";

*{
    margin:0; padding: 0;
}

ul, li, ol{
    list-style: none;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body{
    overflow-x : hidden;
}

$base-background: #a7a39a;
$base-color: #242424;
$base-min-color: #555;
$base-font-padding: 30px;
$base-padding: 80px;

#header{
    width: 100%; height: 6vh;
    background-color: $base-background;
    display: flex; justify-content: space-between;
    border-bottom: 1px solid #fff;
    position:fixed; top:0; z-index:99999;

    .left-menu{
        display: flex; align-items: center;
    }
    .right-menu{
        width:16%; height: 6vh;
        display: flex; flex-flow: column; justify-content: center;

        ul{
            display: flex; justify-content: space-evenly; align-items: center;

            li{
                font-family:'Pretendard-Regular';
                text-align: center;

                &:not(:first-child){
                    width: 30%; height: 3.5vh;
                    font-size: 0.7vw;
                    background-color: #ffeb60;
                    border-radius: 30px;
                    line-height: 3.5vh;
                    font-weight: normal;
                }
                &:not(:last-child){
                    color: #fff;
                    font-size: 0.9vw;
                }
            }
        }
    }
}

#slider{
    width: 100%; height: 80vh;
    background-image: url(../img/slider.png);
}

.section{
    width: 100%; height: auto;

    &-one{
        width:100%; height: auto;
        background-color: #f7f7f7;

        &-text{
            width:100%; height: auto;
            display: flex; flex-flow: column; align-items: center;
            text-align: center;
            padding-top: $base-padding;
            
            h1{
                font-size:2.6vw; font-family: 'Pretendard-Regular'; font-weight: bold;
                color: $base-color;
            }
            h2{
                font-size:1.25vw; font-family: 'Pretendard-Regular'; font-weight: normal;
                color: #555;
                padding-top: $base-font-padding;
                line-height: 3.5vh;
            }
        }

        &-more{
            width: 100%; height: 35vh;
            display: flex; justify-content: center;
            padding-top: $base-padding;
    
            &-1,
            &-2,
            &-3{
                width: 28%; height: auto;
                text-align: center;

                h1{
                    font-size:1.1vw; font-family: 'Pretendard-Regular'; font-weight: bold;
                    color: $base-color;
                }
                h2{
                    font-size:0.73vw; font-family: 'Pretendard-Regular'; font-weight: normal;
                    color: #6f6f6f;
                    padding-top: 20px;
                    line-height: 2vh;
                }
                img{
                    width:7.5vw;
                }
            }
        }
    }

    &-two{
        width: 100%; height: auto;

        &-text{
            width: 100%; height: auto;
            text-align: center;
            padding-top: $base-padding;

            h1{
                font-size:2.6vw; font-family: 'Pretendard-Regular'; font-weight: bold;
                color: $base-color;
            }
            h2{
                font-size:1.25vw; font-family: 'Pretendard-Regular'; font-weight: normal;
                color: #555;
                padding-top: $base-font-padding;
                line-height: 3.5vh;
            }
        }

        &-more{
            width: 100%; height: auto;
            overflow: hidden;

            #stm1,
            #stm2,
            #stm3{
                display: flex;

                &:not(:first-child){
                    padding-top: $base-font-padding;
                }
                
                li{
                    margin-right: 2vw;
                    box-shadow: 4px 4px 4px #ddd;

                    img{
                        width: 8vw;
                    }
                }
            }
            #stm1{
                padding-top: $base-padding;
            }
        }
    }

    &-three{
        width:100%; height: auto;

        &-text{
            width: 100%; height: auto;
            text-align: center;
            padding-top: $base-padding + 30px;

            h1{
                font-size:2.6vw; font-family: 'Pretendard-Regular'; font-weight: bold;
                color: $base-color;
            }
            h2{
                font-size:1.25vw; font-family: 'Pretendard-Regular'; font-weight: normal;
                color: #555;
                padding-top: $base-font-padding; padding-bottom:$base-padding;
                line-height: 3.5vh;
            }
        }
        &-box1{
            width: 80%; height: auto;
            margin: 0 auto;

            h1{
                font-size:1.2vw; font-family: 'Pretendard-Regular'; font-weight: bold;
                color: $base-color;
                padding-bottom: $base-font-padding + 20px;
                padding-left: $base-padding + 60px;
            }
            img{
                width: 8vw;
                box-shadow: 4px 4px 8px rgba(221, 221, 221, 0.5);
            }
            .stb1{
                width: 100%; height: auto;
                display:flex; justify-content: center;

                &-1,
                &-2,
                &-3,
                &-4,
                &-5,
                &-6,
                &-7{
                    width: 12%;
                    display: flex; flex-flow: column; align-items: center;

                    h2{
                        width: 90%;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        font-size: 0.9vw; font-family: 'Pretendard-Regular'; font-weight: bold;
                        color: $base-color;
                        padding-top: 10px;
                    }
                    h3{
                        width: 90%;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        font-size: 0.8vw; font-family: 'Pretendard-Regular'; font-weight: normal;
                        color: #6f6f6f;
                        padding-top: 5px;
                    }
                }
            }
        } ///////////////////////////

        &-box2{
            width: 80%; height: auto;
            margin: 0 auto;
            padding-top: $base-padding;

            h1{
                font-size:1.2vw; font-family: 'Pretendard-Regular'; font-weight: bold;
                color: $base-color;
                padding-bottom: $base-font-padding + 20px;
                padding-left: $base-padding + 60px;
            }
            img{
                width: 8vw;
                box-shadow: 4px 4px 8px rgba(221, 221, 221, 0.5);
            }
            .stb2{
                width: 100%; height: auto;
                display:flex; justify-content: center;

                &-1,
                &-2,
                &-3,
                &-4,
                &-5,
                &-6,
                &-7{
                    width: 12%;
                    display: flex; flex-flow: column; align-items: center;


                    h2{
                        width: 90%;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        font-size: 0.9vw; font-family: 'Pretendard-Regular'; font-weight: bold;
                        color: $base-color;
                        padding-top: 10px;
                    }
                    h3{
                        width: 90%;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        font-size: 0.8vw; font-family: 'Pretendard-Regular'; font-weight: normal;
                        color: #6f6f6f;
                        padding-top: 5px;
                    }
                }
            }
        }  ///////////////////////////

        &-box3{
            width: 80%; height: auto;
            margin: 0 auto;
            padding-top: $base-padding;

            h1{
                font-size:1.2vw; font-family: 'Pretendard-Regular'; font-weight: bold;
                color: $base-color;
                padding-bottom: $base-font-padding + 20px;
                padding-left: $base-padding + 60px;
            }
            img{
                width: 8vw;
                box-shadow: 4px 4px 8px rgba(221, 221, 221, 0.5);
            }
            .stb3{
                width: 100%; height: auto;
                display:flex; justify-content: center;

                &-1,
                &-2,
                &-3,
                &-4,
                &-5,
                &-6,
                &-7{
                    width: 12%;
                    display: flex; flex-flow: column; align-items: center;

                    h2{
                        width: 90%;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        font-size: 0.9vw; font-family: 'Pretendard-Regular'; font-weight: bold;
                        color: $base-color;
                        padding-top: 10px;
                    }
                    h3{
                        width: 90%;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        font-size: 0.8vw; font-family: 'Pretendard-Regular'; font-weight: normal;
                        color: #6f6f6f;
                        padding-top: 5px;
                    }
                }
            }
        }  ///////////////////////////

        &-box4{
            width: 80%; height: auto;
            margin: 0 auto;
            padding-top: $base-padding;

            h1{
                font-size:1.2vw; font-family: 'Pretendard-Regular'; font-weight: bold;
                color: $base-color;
                padding-bottom: $base-font-padding + 20px;
                padding-left: $base-padding + 60px;
            }
            img{
                width: 8vw;
                box-shadow: 4px 4px 8px rgba(221, 221, 221, 0.5);
            }
            .stb4{
                width: 100%; height: auto;
                display:flex; justify-content: center;

                &-1,
                &-2,
                &-3,
                &-4,
                &-5,
                &-6,
                &-7{
                    width: 12%; height:30vh;
                    display: flex; flex-flow: column; align-items: center;
                    
                    h2{
                        width: 90%;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        font-size: 0.9vw; font-family: 'Pretendard-Regular'; font-weight: bold;
                        color: $base-color;
                        padding-top: 10px;
                    }
                    h3{
                        width: 90%;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        font-size: 0.8vw; font-family: 'Pretendard-Regular'; font-weight: normal;
                        color: #6f6f6f;
                        padding-top: 5px;
                    }
                }
            }
        }  ///////////////////////////
    };

    &-four{
        width:100%; height: 175px;
        background-image: url(../img/slider2.png);
        background-size: cover;
        margin-top: $base-padding + $base-font-padding;
    };

    &-five{
        width:100%; height: auto;

        &-text{
            width: 100%; height: auto;
            text-align: center;
            padding-top: $base-padding;

            h1{
                font-size:2.6vw; font-family: 'Pretendard-Regular'; font-weight: bold;
                color: $base-color;
            }
            h2{
                font-size:1.25vw; font-family: 'Pretendard-Regular'; font-weight: normal;
                color: #555;
                padding-top: $base-font-padding; padding-bottom:$base-padding;
                line-height: 3.5vh;
            }
        }

        &-more{
            width: 100%; height: auto;

            &-button{
                width: 80%; height: auto;
                display: flex;
                margin:0 auto;
                
                nav{
                    width:100%;
                    padding-left: $base-padding + 60px;
                }

                #sfmb{
                    width: 100%;
                    display: flex; flex-flow: row wrap;
                }
                
                .active{
                    background-color: $base-color;
                    color: #fff;
                }
                li{
                    height: 3.5vh;
                    border: 1px solid $base-color; border-radius: 20px;
                    font-size: 0.7vw; font-family: 'Pretendard-Regular';
                    margin-right: 1%;
                    line-height: 3.5vh;
                    padding: 0 15px 0 15px;
                    cursor: pointer;
                }
            }
        }

        &-book{
            width: 80%; height: auto;
            margin: 0 auto;
            margin-top: $base-font-padding;
            position:relative;

            .sfb1,
            .sfb2,
            .sfb3,
            .sfb4,
            .sfb5{
                display: flex; justify-content: center;

                &-1,
                &-2,
                &-3,
                &-4,
                &-5,
                &-6,
                &-7{
                    width: 12%; height: 30vh;
                    display: flex; flex-flow: column; align-items: center;
    
                    h2{
                        width: 90%;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        font-size: 0.9vw; font-family: 'Pretendard-Regular'; font-weight: bold;
                        color: $base-color;
                        padding-top: 10px;
                    }
                    h3{
                        width: 90%;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        font-size: 0.8vw; font-family: 'Pretendard-Regular'; font-weight: normal;
                        color: #6f6f6f;
                        padding-top: 5px;
                    }
                    img{
                        width: 8vw;
                        box-shadow: 4px 4px 8px rgba(221, 221, 221, 0.5);
                    }
                }
                &:not(:first-child){
                    display:none;
                }
            }
        }
    };
}
